{% extends 'static/base.html' %}

{% block content %}
    <div id="game-page">
        <div class="container">
            <div class="bz w-full big-title">
                <div class="w-full h-full inside">
                    <div class="box"><h1 class="home-title">{{ site.title }}</h1>
                        <div class="tab">
                            {{ site.description }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="bz main-container">
                <div class="throw-game">
                    <div class="list-games-item">
                        <div id="ajax-append">
                            <div class="w-full text-center foreach">
                                {% for game in page_obj %}
                                    <div class="bz game">
                                        <a href="./{{ game.slug }}.html" class="d-block game-a">
                                            <img class="d-block"
                                                 width="190"
                                                 height="185"
                                                 src="./media/{{ game.thumbnail }}"
                                                 alt="{{ game.title }}"
                                                 title="{{ game.title }}"/>
                                            <div class="bz w-full ab-info">
                                                <span class="text-overflow title-game">{{ game.title }}</span>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="pagination">
                                <div class="s_paging">
                                    {% if page_obj.has_previous %}
                                        <a href="game_list_1.html"><span class="next_page">Home</span></a>
                                        <a href="game_list_{{ page_obj.previous_page_number }}.html"><span
                                                class="next_page">Pre</span></a>
                                    {% endif %}

                                    <span> {{ page_obj.number }}  /  {{ page_obj.paginator.num_pages }} </span>

                                    {% if page_obj.has_next %}
                                        <a href="game_list_{{ page_obj.next_page_number }}.html"><span
                                                class="next_page">Next</span></a>
                                        <a href="game_list_{{ page_obj.paginator.num_pages }}.html"><span
                                                class="next_page">Last</span></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
