html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

.container-game {
    width: 1370px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (max-width: 1399px) {
    .container-game {
        width: 1140px
    }
}

@media (max-width: 1199px) {
    .container-game {
        width: 960px
    }
}

@media (max-width: 991px) {
    .container-game {
        width: 100%
    }
}

.ads {
    width: 100%
}

.ads-margin {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto
}

.ads-left {
    display: none;
    position: absolute;
    top: 155px;
    left: 0;
    text-align: left;
    height: 600px
}

.ads-right {
    display: none;
    position: absolute;
    top: 155px;
    right: 0;
    text-align: right
}

.ads-content {
    height: 600px
}

.ads-box {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.ads-title {
    display: block;
    text-align: center;
    background: 0 0;
    font-size: 11px;
    margin: 0;
    padding: 0;
    color: #b3b3b3;
    opacity: .6
}

.horizontal-title {
    text-align: left !important
}

.ads, .ads-left, .ads-right {
    z-index: 100
}

@media (min-width: 1340px) {
    .ads-left {
        display: block
    }

    .ads-right {
        display: block
    }

    .ads-content {
        width: 160px
    }
}

@media (min-width: 1880px) {
    .ads-left {
        display: block
    }

    .ads-right {
        display: block
    }

    .ads-content {
        width: 300px
    }
}

#expand {
    cursor: pointer !important
}

.force_full_screen {
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
    top: 0 !important;
    border: 0 !important;
    left: 0 !important;
    right: 0 !important;
    cursor: pointer !important
}

* {
    margin: 0;
    padding: 0;
    letter-spacing: normal;
    text-indent: 0
}

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    scroll-behavior: smooth
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    background: var(--bg-body);
    -webkit-tap-highlight-color: transparent;
    color: var(--color-white);
    font-size: 15px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    font-weight: 500
}

body::-webkit-scrollbar, .group-b::-webkit-scrollbar {
    width: 10px;
    background-color: var(--bg-menu)
}

body::-webkit-scrollbar-track, .group-b::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--btn-color)
}

body::-webkit-scrollbar-thumb, .group-b::-webkit-scrollbar-thumb {
    background: #604122;
    -webkit-box-shadow: inset 0 0 6px var(--btn-color)
}

body::-webkit-scrollbar-thumb:window-inactive, .group-b::-webkit-scrollbar-thumb:window-inactive {
    background: var(--btn-color)
}

a {
    border: 0;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    background: 0 0
}

i {
    cursor: pointer;
    margin: 0 !important
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0
}

h1, h2, h3, h4 {
    color: inherit;
    font-weight: 500;
    margin: 0
}

.home-title {
    font-size: 48px;
    text-transform: capitalize;
    margin: 30px 0
}

input, button {
    border: 0
}

.title-game {
    text-transform: capitalize
}

.label-title-game {
    color: #b1b8c8;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600
}

.container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.font-bold {
    font-weight: 700
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.d-r-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.d-c-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.sp {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start
}

.bz {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.p-r {
    position: relative
}

.bg-fff {
    background-color: #fff
}

.absolute {
    position: absolute;
    top: 50%
}

.text-overflow {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 1.5
}

.text-center {
    text-align: center
}

.m-r {
    margin-right: 10px
}

.m-t {
    margin: 10px 0
}

.flex-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.gif {
    margin: 10px;
    width: 100%;
    text-align: center
}

#loading_img {
    width: 32px;
    height: 32px;
    background-color: transparent !important
}

.hidden {
    display: none
}

.w-full {
    width: 100%
}

.h-full {
    height: 100%
}

.font-fff {
    color: #fff
}

.flex-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden
}

.al {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.d-block {
    display: block
}

.offset-banner {
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.messenger {
    background: #c8e0ec;
    color: #2757a5;
    padding: 6px 24px
}

.menu {
    height: 62px;
    background-color: #844ec4;
    top: 0;
    left: 0;
    -webkit-transition: background .33s ease-in-out;
    -o-transition: background .33s ease-in-out;
    transition: background .33s ease-in-out;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    z-index: 4
}

.list_menu {
    padding: 0 20px
}

.logo {
    margin: auto 0
}

.logo img {
    display: block;
    border-radius: 5px;
}

.header-item {
    font-size: 20px;
    padding: 5px 10px;
    position: relative;
    text-transform: capitalize;
    white-space: nowrap;
    color: var(--color-white)
}

.header-item:hover {
    color: #604122
}

.search-box {
    width: 222px;
    height: 38px;
    margin: auto 0;
    margin-left: 20px
}

.item-search {
    background: var(--color-white);
    color: var(--color-black);
    padding-right: 34px;
    padding-left: 10px;
    outline: none;
    border: 1px solid transparent
}

.item-search::-webkit-input-placeholder {
    color: #7e91ab
}

.item-search::-moz-placeholder {
    color: #7e91ab
}

.item-search:-ms-input-placeholder {
    color: #7e91ab
}

.item-search::-ms-input-placeholder {
    color: #7e91ab
}

.item-search::placeholder {
    color: #7e91ab
}

.item-search:focus {
    border-color: #fff
}

.item-search:focus::-webkit-input-placeholder {
    color: var(--color-black)
}

.item-search:focus::-moz-placeholder {
    color: var(--color-black)
}

.item-search:focus:-ms-input-placeholder {
    color: var(--color-black)
}

.item-search:focus::-ms-input-placeholder {
    color: var(--color-black)
}

.item-search:focus::placeholder {
    color: var(--color-black)
}

.item-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: 0 0;
    cursor: pointer
}

.item-button:hover svg {
    fill: var(--btn-color)
}

.overlay {
    background-color: rgba(0, 0, 0, .65);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 3
}

.link-suggest {
    background-color: var(--btn-color);
    position: absolute;
    width: 222px;
    max-width: 222px;
    top: 100%;
    right: 0;
    -webkit-transition: .1s ease;
    -o-transition: .1s ease;
    transition: .1s ease;
    max-height: 440px;
    overflow-y: auto
}

.ab-menu {
    width: 32px;
    height: 32px;
    display: none;
    margin-right: 10px;
    cursor: pointer;
    font-size: 28px;
    background: 0 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.mobile-menu {
    position: fixed;
    width: 300px;
    top: 0;
    left: -300px;
    z-index: 5;
    -webkit-transition: left .3s ease;
    -o-transition: left .3s ease;
    transition: left .3s ease;
    height: 100%
}

.list_mobile_menu {
    overflow-y: auto;
    background-color: var(--bg-body);
    height: calc(100% - 62px)
}

.top-close-mobile {
    height: 62px;
    background-color: var(--bg-menu);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px
}

.close-mobile {
    position: absolute;
    width: 32px;
    height: 32px;
    color: #fff;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 32px
}

.mobile-header-item {
    display: block;
    border-bottom: 2px solid rgba(177, 184, 200, .14);
    padding: 15px;
    font-weight: 550;
    text-transform: uppercase
}

.overlay-full {
    background-color: rgba(0, 0, 0, .65);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 5;
    left: 0;
    display: none
}

.box {
    position: relative;
    width: 100%
}

.tab {
    line-height: 1.65;
    font-weight: 400
}

.inside {
    /* background-color: var(--color-white); */
    padding: 15px 20px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden
}

.containing {
    padding: 30px 20px;
    min-height: 65vh
}

.throw-game {
}

.w-50 {
    width: 50%;
    height: 40px;
    line-height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px
}

.pick, .by {
    font-size: 18px;
    text-align: left;
    text-transform: capitalize
}

.pick {
    margin: 0
}

.sort-by {
    max-width: 250px;
    margin-left: auto;
    position: relative
}

.show-list {
    cursor: pointer
}

.game-page, #game-page {
    min-height: calc(100vh - 178px)
}

.list-cate-ajax {
    background-color: #2757a5;
    position: absolute;
    width: 250px;
    top: 40px;
    right: 0;
    z-index: 2;
    display: none
}

.value {
    text-align: left;
    padding: 0 8px;
    border-left: 3px solid transparent;
    cursor: pointer;
    line-height: 44px;
    text-transform: capitalize;
    color: var(--color-white);
    border-color: var(--btn-hover);
}

.value:hover {
    background: var(--btn-hover);
}

.value p {
    text-transform: initial
}

.this-pick {
    border-color: #f857a6;
    background: rgba(0, 0, 0, .25)
}

.no-pick {
    background: 0 0;
    border-color: transparent
}

#chevron {
    position: absolute;
    right: 10px;
    top: 12px;
    color: #fff;
    font-size: 16px;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    width: 18px;
    height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.pink {
    color: #f857a6 !important
}

.game {
    width: 200px;
    padding: 5px;
    margin-bottom: 5px;
    display: inline-block
}

.game-a {
    border-radius: 5px;
    overflow: hidden;
    transition: transform .15s cubic-bezier(.25, 0, .72, 1), -webkit-transform .15s cubic-bezier(.25, 0, .72, 1);
    position: relative
}

.game-more-title {
    text-transform: uppercase;
    height: 20px;
    font-size: 11px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px;
    line-height: 16px;
    text-align: center
}

.ab-info {
    padding: 6px 8px;
    background: rgba(255, 165, 97, .8);
    text-align: left
}

.game-more-title, .ab-info {
    font-weight: 600;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--color-white);
    background: rgba(0, 0, 0, .5);
}

.game-a:hover .game-more-title, .game-a:hover .ab-info {
    color: var(--color-white);
    background-color: var(--btn-color)
}

.list-games-item {
    margin-bottom: 32px
}

.change-title {
    text-transform: capitalize !important
}

.overwrite-breadcumb {
    overflow: hidden;
    color: #be89ff;
}

.bread-crumb-item {
    text-transform: capitalize;
    text-decoration: none !important;
    white-space: nowrap
}

.bread-crumb-list .bread-after::before {
    content: "/";
    margin: 0 5px;
    border-bottom: 0
}

span.bread-crumb-item {
    color: #fff
}

#iframehtml5 {
    display: block
}

.game-frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px 0
}

.iframe {
    width: 100%;
    max-width: 850px
}

.relate-box h2 {
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 18px
}

.heading {
    height: 56px;
    background: #252833
}

.play-title {
    margin: 0;
    font-size: 30px;
    line-height: 56px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 80px;
    text-transform: uppercase
}

.custom-games {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1130px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 25px
}

.group-b {
    width: 50%;
    padding: 15px;
    border: 1px solid var(--btn-color);
    max-height: 800px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto
}

.custom-games .group-b:last-child {
    border-left: 0
}

.show-more-game {
    width: 125px;
    max-height: 660px;
    overflow: hidden;
    min-width: 125px
}

.relate-box {
    max-width: 1870px;
    margin: 0 auto
}

.game-more-relate {
    width: 105px;
    height: 110px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 0;
    overflow: hidden;
    margin: 0 10px
}

.show-more-game .game-more-relate:first-child {
    padding-top: 0
}

.game-info {
    line-height: 1.65
}

.game-info ul, .game-info ol {
    padding-left: 40px
}

.game-info li {
    list-style: disc
}

.game-info h1, .game-info h2, .game-info h3, .game-info h4, .game-info h5, .game-info h5 {
    font-weight: revert;
    text-transform: capitalize;
    margin: revert;
}

.game-info p {
    margin-bottom: 1rem;
}

.game-info a {
    text-decoration: underline;
    color: #be89ff
}

.title-option {
    margin-bottom: 8px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
    font-weight: 550;
    text-transform: capitalize
}

.list_cate {
    height: auto;
    line-height: unset
}

.meta {
    border-radius: 15px;
    padding: 3px 15px;
    background: var(--btn-color);
    color: var(--color-white) !important;
    text-transform: uppercase;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
    text-decoration: unset !important
}

.meta:hover {
    background-color: var(--btn-hover)
}

.list {
    margin: 15px 0
}

.no-boder {
    border: 0;
    font-size: 22px
}

.search_found {
    padding: 10px;
    line-height: 1.65
}

.search_found ul, .search_found li {
    list-style: disc !important;
    list-style-position: inside !important
}

.fb-comess {
    margin: 10px 0;
    background-color: #fff
}

.footer {
    background-color: var(--bg-menu);
    border-top: 1px solid rgba(177, 223, 245, .2)
}

.links {
    padding: 20px 15px
}

.link {
    margin-right: 10px;
    padding: 5px;
    font-size: 13px;
    display: inline-block;
    color: #fff;
}

.link:hover {
    text-decoration: underline;
}

#back-to-top {
    position: fixed;
    right: 20px;
    bottom: 40px;
    width: 45px;
    height: 45px;
    background-color: #000;
    color: var(--btn-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 4px;
    z-index: 2;
    font-size: 1.5rem;
    -webkit-transition: background 450ms cubic-bezier(.23, 1, .32, 1), opacity .4s ease;
    -o-transition: background 450ms cubic-bezier(.23, 1, .32, 1), opacity .4s ease;
    transition: background 450ms cubic-bezier(.23, 1, .32, 1), opacity .4s ease;
    font-family: sans-serif
}

#back-to-top:hover {
    background-color: var(--btn-hover);
    color: var(--color-white);
}

.pagination {
    padding: 20px 0
}

.s_paging {
    text-align: center
}

.next_page {
    display: inline-block;
    padding: 10px 16px;
    font-weight: 600;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer
}

.next_page:hover {
    background-color: var(--btn-color);
    color: #fff
}

.active_ {
    background-color: var(--btn-color);
    cursor: default;
    color: #fff
}

.loadingImage {
    width: 50px;
    height: 50px;
    background-color: transparent !important;
    -webkit-animation: loadingAnimation 1s linear infinite;
    animation: loadingAnimation 1s linear infinite
}

@-webkit-keyframes loadingAnimation {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loadingAnimation {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.loading_page {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 44px;
    height: 44px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99
}

.layer-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 98;
    background-color: rgba(35, 39, 65, .65)
}

.header-game {
    background-color: #000;
    min-height: 50px;
    height: auto;
    overflow: hidden;
    color: var(--color-white);
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px 10px 0 2px;
    text-align: left
}

.header-game img {
    border-radius: 5px;
}

.box-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%
}

.box-header h1 {
    font-size: 20px;
    white-space: nowrap;
    text-transform: uppercase
}

.header-game-extend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.header-game-extend > span {
    padding: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    cursor: pointer
}

.expand-btn {
    margin-right: -10px
}

.header-game-extend > span > svg {
    width: 26px;
    height: 26px;
    fill: #fff
}

.header-game-extend > span:hover {
    background-color: var(--btn-hover)
}

.exit-fullscreen {
    width: 36px;
    height: 36px;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 100000;
    padding: 6px;
    background-color: rgba(0, 0, 0, .65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer
}

.clipboard-share {
    position: fixed;
    z-index: 100;
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 300px;
    min-height: 45px
}

.hide-zindex {
    z-index: -20;
    visibility: hidden
}

.close-sharing-box {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, .65);
    display: none
}

.inline-sharing-box h3 {
    margin-bottom: 10px;
    color: #000
}

.share-btn {
    margin-left: 5px
}

@media (max-width: 640px) {
    .header-game {
        max-height: unset
    }

    .box-header {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .box-header h1 {
        width: 100%;
        text-align: center
    }
}

@media (max-width: 500px) {
    .header-game-extend {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    #append-rate {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 10px
    }
}

#rating {
    font-family: inherit
}

#rating .text-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    overflow: hidden;
    height: 24px;
    line-height: 24px
}

#rating .rating-element {
    display: inline-block;
    color: inherit;
    margin: 0;
    line-height: 24px
}

#default-demo {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#default-demo img {
    width: 20px
}


.rate-info {
    font-size: 18px;
    line-height: 24px
}
#recent-game, #recent-game-mobile {
    display: none
}

.cookie-setting {
    right: 13px;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
    opacity: 1;
    padding: 15px;
    line-height: 1.5em;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    overflow: hidden;
    position: fixed;
    z-index: 9999;
    background-color: #fff;
    -webkit-box-shadow: -2px -5px 34px -7px rgb(0 0 0/49%);
    box-shadow: -2px -5px 34px -7px rgb(0 0 0/49%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: none
}

.cookie-content {
    color: #111;
    font-size: 14px
}

.list-cookie-choice {
    text-align: right
}

.cookie-choice {
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    cursor: pointer;
    border-radius: .25rem;
    color: #fff;
    margin-top: 10px;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #2980b9;
    margin: 5px 5px 0;
    display: inline-block
}

.reject-choice {
    background-color: #c0392b
}

.throw-ads-300x600 {
    width: 300px;
    min-width: 300px
}

.throw-ads-160x600 {
    width: 160px;
    min-width: 160px
}

.throw-ads-970x90, .throw-ads-768x90, .throw-ads-300x600, .throw-ads-160x600, .throw-ads-300x250, .throw-ads-468x60, .throw-ads-320x90 {
    display: none;
    overflow: hidden
}

:root {
    /* --bg-menu: #ffa561; */
    --bg-menu: #1f1c1a;
    /* --bg-menu: #687E1A; */
    --bg-body: #ffeee1;
    --bg-body: #1a1a1a;
    --color-white: #ffffff;
    --color-black: #000;
    --btn-hover: #aa6b3b;
    --btn-color: #8a4200;
    --btn-color: #7ab3b2;
    --btn-color: #604122;
}

@media (min-width: 1000px) {
    .throw-ads-970x90, .throw-ads-768x90 {
        display: block
    }

    .throw-ads-160x600-right {
        display: block
    }
}

@media (min-width: 1180px) {
    #iframehtml5 {
        height: 495px
    }

    .show-more-game {
        max-height: 550px
    }
}

@media (min-width: 1366px) {
    .throw-ads-300x600 {
        display: none
    }

    .throw-ads-160x600 {
        display: block
    }
}

@media (min-width: 1670px) {
    #iframehtml5 {
        height: 605px
    }

    .iframe {
        max-width: 1031px
    }

    .throw-ads-right, .throw-ads-160x600-left {
        display: block
    }

    .throw-ads-left, .throw-ads-160x600-right {
        display: none
    }

    .show-more-game {
        max-height: 660px
    }

    .custom-games {
        max-width: 1311px
    }
}

@media (min-width: 1940px) {
    .throw-ads-300x600 {
        display: block
    }

    .throw-ads-160x600 {
        display: none
    }
}

@media (max-width: 1179px) {
    .iframe {
        margin: 0 !important;
        width: 100%;
        padding: 0 15px
    }

    .show-more-game {
        display: none
    }
}

@media (min-width: 600px) and (max-width: 999px) {
    .throw-ads-468x90 {
        display: block
    }
}

@media (max-width: 999px) {
    .home-title {
        font-size: 32px
    }

    .menu-header {
        display: none
    }

    .ab-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .list_menu {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding: 0 15px
    }

    .box {
        position: static
    }

    .play-title {
        padding: 0 56px;
        padding-left: 30px
    }

    .group-b {
        width: 100%;
        margin-bottom: 15px;
        max-height: unset
    }

    .custom-games .group-b:last-child {
        border-left: 1px solid rgba(177, 223, 245, .8)
    }

    .play-title {
        font-size: 24px
    }

    .links {
        line-height: 1.5;
        height: auto;
        border-width: 1px;
        border-top-width: 10px;
        border-bottom-width: 1px
    }

    .link {
        margin: 0
    }

    .messenger {
        display: none
    }

    #back-to-top {
        visibility: hidden
    }

    .throw-ads-320x90 {
        display: block
    }
}

@media (max-width: 500px) {
    .jeach-game-item {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .jeach-game-item .w-50 {
        width: 100%
    }

    .sort-by {
        margin-left: 0
    }

    .logo {
        display: none
    }

}