{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Game</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>添加游戏</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- 游戏表单字段 -->
        <div class="form-group" style="display: flex; align-items: flex-start;">
            <div style="flex: 1;">
                <div style="display: flex; align-items: center;">
                    {{ game_form.title.label_tag }}
                    {{ game_form.title }}  <!-- 直接渲染字段 -->
                </div>
                <div style="display: flex; align-items: center;">
                    {{ game_form.slug.label_tag }}
                    {{ game_form.slug }}  <!-- 直接渲染字段 -->
                </div>
                <div style="display: flex; align-items: center;">
                    {{ game_form.description.label_tag }}
                    {{ game_form.description }}  <!-- 直接渲染字段 -->
                </div>
                <div style="display: flex; align-items: center;">
                    {{ game_form.iframeUrl.label_tag }}
                    {{ game_form.iframeUrl }}  <!-- 直接渲染字段 -->
                </div>
                <div style="display: flex; align-items: center;">
                    {{ game_form.recommend.label_tag }}
                    {{ game_form.recommend }}  <!-- 直接渲染字段 -->
                </div>
            </div>
            <div style="flex: 1;display: flex; flex-direction: column; justify-content: left;">
                <!-- 缩略图预览 -->
                <img id="thumbnail-preview" src="{{ game_form.instance.thumbnail.url|default:'/images/logo.png' }}"
                     alt="Thumbnail Preview"
                     style="cursor:pointer; width: 350px; height: 350px; object-fit: cover;"
                     onclick="document.getElementById('thumbnail-input').click();"/>
                <input type="file" name="thumbnail" id="thumbnail-input" onchange="updateThumbnail(event)"
                       style="display:none;"/>
            </div>
        </div>

        <div class="form-group d-flex align-items-center">
            {{ game_form.whatis.label_tag }}
            {{ game_form.whatis }}  <!-- 直接渲染字段 -->
            <button id="whathow">生成whatis和howtoplay</button>
        </div>

        <div class="form-group d-flex align-items-center">
            {{ game_form.HowtoPlay.label_tag }}
            {{ game_form.HowtoPlay }}  <!-- 直接渲染字段 -->
        </div>

        <!-- 问题表单 -->
        <h3>添加问题</h3>
        <div class="form-group">
            {{ question_form.question.label_tag }}
            {{ question_form.question }}  <!-- 直接渲染字段 -->
        </div>

        <div class="form-group">
            {{ question_form.answer.label_tag }}
            {{ question_form.answer }}  <!-- 直接渲染字段 -->
        </div>

        <button type="submit" class="btn btn-primary">添加游戏和问题</button>
    </form>

    <script>
        function updateThumbnail(event) {
            const file = event.target.files[0];
            const reader = new FileReader();
            reader.onload = function (e) {
                const img = document.getElementById('thumbnail-preview');
                img.src = e.target.result; // 更新缩略图预览
            }
            reader.readAsDataURL(file);
        }
    </script>
    <script>
        $('#whathow').on('click', function (event) {
            event.preventDefault(); // 防止按钮默认提交行为
            const titleValue = $('#id_title').val(); // 获取输入框的值
            // 获取 CSRF Token
            const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
            $.ajax({

                url: '/generate_whathow2/',
                type: 'POST',  // 请求方法
                data: {
                    title: titleValue,
                    csrfmiddlewaretoken: csrfToken,
                },
                dataType: 'json',
                success: function (response) {
                    // 成功回调：处理返回的 JSON 数据
                    if (response) {
                        console.log(response);
                        $('#id_whatis').val(response.whatis); // 将返回的 'whatis' 字段值赋给 id_whatis 输入框
                        $('#id_HowtoPlay').val(response.howtoplay); // 将返回的 'howtoplay' 字段值赋给 id_HowtoPlay 输入框
                    } else {
                        console.log('Response does not contain the expected "id_whatis or id_HowtoPlay" field');
                    }
                },
                error: function (error) {
                    // 错误回调：请求失败时执行
                    console.log('Request failed: ', error);
                }
            });


        });
    </script>
</div>

</body>
</html>
