<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <title>管理页面</title>
    <style>
        a {
        color: #fff;
        }
        h1 a{
        text-decoration: none!important;
        }

    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
            <div class="sidebar-sticky">
                <header class="bg-dark text-light text-center py-3">
                    <h1>站点管理</h1>
                </header>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/createsite/" target="contentFrame"><i class="bi bi-plus"> </i>增加站点</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/site_list/" target="contentFrame"><i class="bi bi-tools"> </i>站点列表</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link" href="/backup" target="contentFrame"><i class="bi bi-cloud-upload"> </i>数据库备份</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/restore" target="contentFrame"><i class="bi bi-cloud-download"> </i>数据库恢复</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/push/" target="contentFrame"><i class="bi bi-rocket"> </i>部署站点</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <iframe name="contentFrame" id="contentFrame" src="/site_list/"
                    style="width: 100%; height: 100vh; border: none;"></iframe>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
