<!DOCTYPE html>
<html>
<head>
    <title>数据库恢复</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        input {
            width: 300px;
        }
    </style>
</head>
<body>
<h1>选择备份文件恢复数据库</h1>
<form method="POST">
    {% csrf_token %}
    <!-- <label for="backup_file">选择备份文件：</label>
        <select name="backup_file" id="backup_file">
            {% for file in backup_files reversed %}
            <option value="{{ file }}">{{ file }}</option>
            {% endfor %}
        </select>
        <button type="submit">恢复</button>
        <button type="button" class="btn btn-danger btn-delete" onclick="deleteBackup('{{ file }}')">删除</button> -->
    <label for="backup_file">选择备份文件：</label>
    <hr>
    {% for file in backup_files reversed %}
        <div class="input-group w-25">
            <mark>{{ forloop.counter }}</mark>&nbsp;&nbsp;
            <input type="text" value="{{ file }}" name="backup_file" id="backup_file" class="form-control">&nbsp;&nbsp;
            <button type="submit" class="btn btn-success btn-delete">恢复</button>
            <a class="btn btn-outline-danger" href="{% url 'delete_backup' %}?backup_file={{ file }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3"
                     viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"></path>
                </svg>
            </a>
        </div>
        <hr>
    {% endfor %}

</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-s1swLUYcLBqAXHj7nWZcBD03oDfaVT4TaOQEaQGnSa65SsyckDHTlfGcB8+LOLkz"
        crossorigin="anonymous"></script>
</body>
</html>
